.tabSet {
  margin: 0 auto;
  font-size: 1.25rem;

  .tabItems {
    display: flex;
  }

  .modeBBtn,
  .tabBtn {
    flex: 0 0 auto;
    font-size: 1em;
    height: 2.8em;
    text-align: center;
    border: none;
    margin: 0 5px 0 0;
    border-radius: 8px 8px 0 0;
    box-shadow: none;
    background: #eee;
    color: #777;
    border: 2px solid #eee;
    cursor: pointer;
    padding: 0.5em 1em;
    letter-spacing: 0.05em;
    position: relative;
    e &:focus-visible {
      outline: none;
      box-shadow: 0 0px 0px 2px $aFocus inset;
    }

    &.active {
      cursor: default;
      background-color: #fff;
      color: $primaryColor;
      border: 2px solid $primaryColor;
      border-bottom: 2px solid #fff;
      border-top: 8px solid $primaryColor;
      z-index: 2;
      height: 3em;

      margin-bottom: -4px;
      margin-top: 0;
      font-weight: bold;
    }
  }

  .tabContent {
    display: none;
    position: relative;
    padding: 1.5em 1em 1em;
    border: $primaryColor 2px solid;
    border-radius: 0 8px 8px 8px;
    z-index: 1;
    @include screen('mobile') {
      padding: 0;
      margin-bottom: 10px;
      border: none;
    }

    &.active {
      display: block;
    }

    a:focus {
      outline: none;
      box-shadow: 0 0px 0px 2px $aFocus inset;

      @include screen('mobile') {
        box-shadow: none;
      }
    }

    .content {
      ul {
        margin: 0;
      }
    }
  }

  .modeBBtn {
    width: 100%;
    margin: 0;
    display: none;
  }

  &.modeB {
    .tabItems {
      display: none;
    }

    .tabContent {
      display: block;

      .content {
        display: none;

        a:focus-visible {
          outline: $aFocus 2px solid;
        }
      }
    }

    .modeBBtn {
      display: block;
    }
  }
}
