.category {
  @extend %clearfix;
  text-align: left;
  margin: 1em auto 2em;
  font-size: 1.25rem;
  ul {
    @include li-reset;
    li {
      margin: 0px 0.8em 0.8em 0px;
      display: block;
      float: left;
    }
  }
  a {
    padding: 0.7em 2em;
    display: block;
    color: #333;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #ebecec;
    &:hover,
    &:focus {
      color: #fff;
      background: rgb(0, 151, 229);
      background: linear-gradient(130deg, rgba(0, 151, 229, 1) 0%, rgba(0, 76, 147, 1) 100%);
      box-shadow: none;
    }
    &.active {
      color: #fff;
      background: rgb(0, 151, 229);
      background: linear-gradient(130deg, rgba(0, 151, 229, 1) 0%, rgba(0, 76, 147, 1) 100%);
    }
    span {
      font-size: 0.813em;
      &:before {
        content: '(';
        display: inline-block;
      }
      &:after {
        content: ')';
        display: inline-block;
      }
    }
  }
}
